<header class="navigation">
	<nav>
		<a class="logo" href="/">Functional<br>Fight & Fitness</a>
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/staff">Staff</a></li>
			<li><a href="/stats">Stats</a></li>
			<li><a href="/contact">Contact</a></li>

			<li><a href="/members">All Members</a></li>
			<li><a href="/members/new">Create New Member</a></li>
			<li><a href="/trainingPrograms">All Training Programs</a></li>
			<li><a href="/trainingPrograms/new">Create New Training Program</a></li>
		</ul>
	</nav>
</header>